
.dashboard{
    position: fixed;
    top: 0;
    width: 100%;
}

.cont{
    justify-content: space-between;
    background: #1880ff;  
    background: -webkit-linear-gradient(to right, #1880ff, #1085a5); 
    background: linear-gradient(to right, #1880ff, #1085a5); 

    
    height: 40px;
    align-items: center;
}

.logo{
    width: 100px;
    cursor: pointer;

}

.cont_user img {
    width: 22px;
    opacity: 0.9;
    cursor: pointer;
}

.user img{
    width: 22px;
    margin-right: 10px;
    color: #fff;
    cursor: pointer;
}
.user{

    align-items: center;
}
.user a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.cont_user{
    justify-content: space-around;
    width: 400px;
    height: 100%;
}

.nav-item{
    display: flex;
    margin-left: 20px
}

footer{
    width: 100%;
    margin-top: 220px;
    height: 150px;
    background: #1880ff;  
    background: -webkit-linear-gradient(to right, #1880ff, #1085a5); 
    background: linear-gradient(to right, #1880ff, #1085a5); 
}

.cont_footer{
    height: 100%;
    div{
        width: 50%;
    }
    p{
        color: #fff;
    }
}

.img_footer{

    justify-content: center;
    align-items: center;

    img{
    width: 200px;
    }
}



.logo_footer{
    a{
        display: block;
        width: 35px;
        height: 35px;
        border-radius: 5px;
        margin-right: 20px;
        background-color: #185a9d;
    }
    img{
        margin-top: 6px;
        width: 20px;
    }
}

h5{
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;
}
p{
    width: 80%;
}

.datos{
    height: 30px;
    padding-top: 3px;
    justify-content: center;
    background-color: #185a9d;
    p{

        color: #fff;
    }
}

@media(max-width: 600px){
    footer{
      width: 600px;
    }

    .datos{
        width: 600px;
      }
  }

 /* @media(max-width: 1048px){
    .cont_footer{
        flex-direction: column;
    }
  }*/
