.cont_client{
    margin-top: 165px;
}


.button{
    margin-bottom: 20px;

}
.form{
    justify-content: space-between;
    .cont{
        width: 40%;
        margin: 12px;
    }
}

.cont_btn{
    justify-content: end;
}


.modal-content{
    border-radius: 45px;
}



.modal_delete{

    img{
        width: 100px;
    }
    .button{
        color: #fff;
    }
}