section{
margin-top: 100px;
a{
    color: #1d65a3;
}
}



.logo img{
    width: 200px;
  }

  .cont_form{
    justify-content: center;
  }

  .cont_input{
    display: flex;
    position: relative;
    width: 100%;

  i{
    position: absolute;
    left: 347px;
    top: 18%; 
    cursor: pointer;
    img{
      width: 17px;
    }
  }

    img{
      width: 20px;
      margin-left: 5px;
    }
  }


label{
 margin: -3px;
}


.cont_btn{
    margin-top: 20px;
}

  .cont_btn .btn{
    width: 150px;
    background-color:#1d65a3;
  
    a{ 
    color: white;
    text-decoration: none;
    }
  }
  

  .cont_btn .btn:hover{
    background-color:#338ad6
  }


@media(min-width: 1201px){
  .form{
    width: 400px;
  }
}

@media(max-width: 1200px){
  .form{
    width: 400px;
  }
}